@import "../../style/variables";
@import "../../style/typography";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.text-content {
  padding-bottom: 5%;
  &-header {
    text-align: left;
    padding: 20px 0;
    position: relative;
    @include font-weight(bold);
  }
  &-paragraph {
    padding-bottom: 20px;
  }
  &-list {
    padding-inline-start: 20px;
  }
  &-image {
    max-width: 100%;
    text-align: center;
    &-image {
      max-width: 100%;
      &__stretched {
        width: 100%;
      }
    }
    &-caption {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      color: $gray-3;
    }
  }
  &-quote {
    border-left: 4px solid $gray-3;
    padding-left: 40px;
    &-quote {
      font-style: italic;
    }
    &-caption {
      font-size: 14px;
      line-height: 20px;
      color: $gray-3;
    }
  }
}
