@import '../../style/variables';
@import "../../style/typography";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.join-newsletter {
  &-box {
    display: flex;
    min-height: 110px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: $white;
    padding: 20px 40px;

    &-header {
      flex-grow: 2;
      margin-right: 50px;
      white-space: nowrap;
    }

    &-form {
      flex-grow: 2;
      display: flex;
    }
  }
  &-subscription {
    border: 2px solid $gray-3;
    border-radius: 40px;
    padding: 12px 24px;
    width: 100%;
    margin-right: 30px;

    &:focus, &:focus-visible {
      border: 2px solid $primary;
      outline: none;
    }
  }

  &-subscription-button {
    padding: 16px 60px 16px 30px;
    height: 52px;
    position: relative;
    font-size: 16px;
    margin-right: 30px;
    justify-content: flex-start;

    @include font-weight(semi-bold);
    &:after {
      content: '';
      background-image: url("../../assets/send.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 16px;
      right: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &-close-btn {
    background: none;
    border: none;
  }

  @include media-breakpoint-down(md) {
    &-box {
      min-height: auto;
      padding: 20px 20px;
      &-header {
        flex-grow: 2;
        margin-right: 10px;
        white-space: normal;
      }
    }
    &-subscription,
    &-subscription-button {
      margin-right: 10px;
    }
  }

  @include media-breakpoint-down(sm) {
    &-box {
      flex-wrap: wrap;
      min-height: auto;
      padding: 15px;

      &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      &-form {
        display: block;
      }
    }
    &-subscription {
      margin-bottom: 10px;
    }
    &-subscription-button {
      width: 100%;
    }
  }
}
