$grid-gutter-width: 40px;
@import '~flotiq-components-react/dist/index-including-tailwind.css';
@import '~bootstrap/scss/bootstrap';
@import '~highlight.js/scss/default';
@import '~highlight.js/scss/nord';

@import 'variables';
@import 'global';
@import 'typography';
@import 'post';

@import './components/Button';
@import './components/RegisterBanner';
@import './components/CookieInfo';
@import './components/DiscoverMoreTopics';
@import './components/JoinNewsletter';
@import './components/MadeWithFlotiq';
@import './components/Navbar';
@import './components/Pagination';
@import './components/PostCard';
@import './components/SharePostButtons';
@import './components/TagPill';

@import './sections/FlotiqPlatform';
@import './sections/Footer';
@import './sections/Content';
