@import 'variables';
@import 'typography';

@font-face {
  font-family: "HalvarBreitschrift-Bold";
  src: url('../assets/fonts/Halvar-Breitschrift-Bold.eot');
  src: url('../assets/fonts/Halvar-Breitschrift-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Halvar-Breitschrift-Bold.woff2') format('woff2'),
  url('../assets/fonts/Halvar-Breitschrift-Bold.woff') format('woff');
  @include font-weight(regular);
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,body {
  font-family: 'Inter', sans-serif;
  color: $dark-blue;
}

.container-fluid__bigger-padding {
  padding-right: calc(15px + 2.5rem);
  padding-left: calc(15px + 2.5rem);
  min-height: 20vh;
}

.light-blue-background {
  background: $light-blue;
}
