@import '../../style/variables';
@import '../../style/typography';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.cookie-info {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: $zindex-tooltip;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 300px;
  padding: 22px;
  border-radius: 4px;

  color: $white;
  background-color: $primary;
  box-shadow: $dark-box-shadow;

  line-height: 150%;
  font-size: 15px;
  font-weight: 300;

  @include media-breakpoint-down(sm) {
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    max-width: none;
  }

  &-text {
    a {
      color: $white;
      text-decoration: none;
      font-weight: 600;
    }
  }

  &-close-btn {
    position: relative;
    padding: 0;
    margin-left: 10px;
    color: $white;
    background-color: transparent;
    opacity: .6;
    outline: none;
    border: none;
    transition: $default-opacity-transition;

    img {
      width: 22px;
      height: 22px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
