# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: Enter information to .env file
      run: |
        echo "GATSBY_FLOTIQ_BASE_URL=https://api.flotiq.com" >> .env
        echo FLOTIQ_API_KEY=$FLOTIQ_API_KEY >> .env
        cat .env
    
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
    - run: npm install
      
    - name: Gatsby
      run: | 
        npm install -g gatsby-cli
        gatsby clean
        gatsby build
        
    - shell: bash
      env:
        SUPER_SECRET: ${{ secrets.MY_API }}
      run: |
        echo $MY_API
