# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: Enter data to .env file
      run: |
        echo GATSBY_FLOTIQ_BASE_URL=https://api.flotiq.com >> .env
        echo FLOTIQ_API_KEY="$FLOTIQ_API_KEY" >> .env
      shell: bash
      env: # Or as an environment variable
        FLOTIQ_API_KEY: ${{ secrets.FLOTIQ_API_KEY }}
    
    - uses: actions/setup-node@v1
      with:
        node-version: '12'
    - run: npm install
      
    - name: Gatsby
      run: | 
        npm install -g gatsby-cli
        gatsby clean
        gatsby build
        
    - name: Cloudflare
      run: |
        npm install -g @cloudflare/wrangler
        sed 's+my-id-worker-account+'"$ACCOUNT_ID"'+g' wrangler.toml
        mkdir -p .wrangler/config/default.toml
        echo api_token = '"'"$API_TOKEN"'"' > .wrangler/config/default.toml
        ls -al ..
        echo ----------------------------------------------------
        ls -al ../..
      shell: bash
      env: # Or as an environment variable
        API_TOKEN: ${{ secrets.API_TOKEN }}
        ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
